<ion-header>
    <ion-toolbar>
        <ion-title>List++</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="userInfo">
    <ion-list *ngIf="userLists && userLists.length > 0">
        <ion-list-header>
        Lists
        </ion-list-header>

        <ion-item-sliding *ngFor="let userList of userLists;" #itemSlide>
            <a ion-item (click)="openListModal(userList)">
                <ion-icon name="list" item-start></ion-icon>
                {{ userList.name }}
            </a>
            <ion-item-options side="left">
                <button ion-button color="secondary" (click)="itemSlide.close(); shareList(userList, 'share@test.com')">
                    <ion-icon name="share"></ion-icon>
                    Share
                </button>
            </ion-item-options>
            <ion-item-options side="right">
                <button ion-button color="danger" (click)="deleteList(userList)">
                    <ion-icon name="trash"></ion-icon>
                    Delete
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-list *ngIf="!userLists || userLists.length <= 0">
        <ion-item>
            <ion-note item-start>
            Wow, such empty
            </ion-note>
        </ion-item>
    </ion-list>

    <ion-fab right bottom>
        <button (click)="openAddListModal()" ion-fab color="light">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>

<ion-content *ngIf="!userInfo">
    <ion-list>
        <ion-list-header>
        Please login
        </ion-list-header>
        <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input type="text" #userName></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" #password></ion-input>
        </ion-item>
        <ion-item>
            <button ion-button full (click)="login(userName.value, password.value)">login</button>
        </ion-item>
    </ion-list>
</ion-content>
