<ion-header>
    <ion-navbar>
        <ion-title>List++</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="userLists">
        <ion-list-header>
            Lists
        </ion-list-header>
        <a ion-item *ngFor="let userList of userLists;" (click)="openListModal(userList)">
            <ion-icon name="list" item-start></ion-icon>
            {{ userList.name }}
        </a>
    </ion-list>

    <ion-fab right bottom>
        <button (click)="openAddListModal()" ion-fab color="light">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>